.arrows {
  position: absolute;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
  display: none;

  @media only screen and (min-width: @md) {
    display: block;
  }
}

.arrow-left, .arrow-right {
  cursor: pointer;
}

.arrow-left {
  float: left;
}

.arrow-right {
  float: right;
}