.images-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.slide-image {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  text-align: center;
  transition: all 500ms ease-out;

  &.active {
    position: static;
  }

  > img {
    width: inherit;
  }
}

.fixed-height {
  .slide-image {
    height: inherit;
    overflow: hidden;
  
    &::before {
      content: "";
      margin-left: -100%;
    }
    &::after {
      content: "";
      margin-right: -100%;
    }

    > img {
      width: auto;
      height: inherit;
    }
  }
}