@import "variables";

.slide-show {
  @import (less) "indicators";
  @import (less) "arrows";

  user-select: none;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  position: relative;
  width: 100%;

  @media only screen and (min-width: @md) {
    width: @md-width;
    height: @md-height;
  }
  
  .item-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 50vw;

    @media only screen and (min-width: @md) {
      width: @md-width - @arrow-width;
      height: inherit;
    }
  }
  .item {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    &.active {
      position: static;
    }
    > img {
      width: inherit;
    }
  }
}
