.indicators {
  position: relative;
  top: -40px;
  padding: 0;
  text-align: center;
  height: 0;
  
  > div {
    display: inline-block;
    cursor: pointer;
    > span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid white;
      border-radius: 50%;
      margin: 0 5px;
      padding: 0;
      background: transparent;
      &.active {
        background-color: white;
      }
    }
  }
}
