.ss-thumbnails {
  overflow: hidden;
  margin: auto;
}

.ss-thumbnails-track {
  white-space: nowrap;
  transition: all 500ms ease-out;
  text-align: center;
}

.ss-thumbnail {
  display: inline-block;
  width: 20%;
  padding: 3px;
  cursor: pointer;

  > img {
    max-width: 100%;
    vertical-align: middle;
    &.ss-active {
      outline: 3px solid #337ab7;
    }
  }
}

@media only screen and (min-width: @sm) {
  .ss-thumbnail {
    width: 15%;
  }
}
