.slide-show {
  user-select: none;
  box-sizing: border-box;

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    &.right {
      transform: rotate(-45deg);
    }
  
    &.left {
      transform: rotate(135deg);
    }
  }
  
  .item-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    @media only screen and (min-width: 1024px) {
      width: 992px;
    }
  }
  .item {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    &.active {
      position: static;
    }
    > img {
      width: inherit;
    }
  }
}
